.DS_Store
.coverage
.mypy_cache/
.pytest_cache/
pytest-cache-files-*/
.ruff_cache/
.terraform/
.venv/
.env
*.egg-info/
*.pyc
*.pyd
*.pyo
*.tfstate
*.tfstate.*
build/
coverage.xml
dist/
htmlcov/
tools/
